pkgbase = tnt-chat
	pkgdesc = SSH-native terminal chat server with a Vim-style interface
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/m1ngsama/TNT
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = gcc
	makedepends = make
	depends = libssh
	source = tnt-chat-v1.1.0-source.tar.gz::https://github.com/m1ngsama/TNT/releases/download/v1.1.0/tnt-chat-v1.1.0-source.tar.gz
	source = tnt-chat.sysusers
	sha256sums = SKIP
	sha256sums = 8a1f7dfbdc9f1305c4ed50d80e89f91333ffdf937890c497f93e41abaf76e3ed

pkgname = tnt-chat
